@model AllCustomersViewModel
@{
    ViewData["Title"] = "All Customers";
}
<h2>All customers in @Model.OrderType.ToString().ToLower() order</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Birthday</th>
            <th>Young Driver</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model.AllCustomers)
        {
            <tr>
                <td>@customer.Name</td>
                <td>@customer.BirthDate.ToShortDateString()</td>
                <td>@(customer.IsYoungDriver == true ? "Yes" : "No")</td>
                <td>
                    <a class="btn btn-info btn-sm" href="/customers/edit/@customer.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
