@model IEnumerable<CarModel>
@{
    ViewData["Title"] = "All Cars by Make";
}

<h2>All Cars by Make</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>TravelledDistance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>@car.Make</td>
                <td>@car.Model</td>
                <td>@car.TravelledDistance</td>
            </tr>
        }
    </tbody>
</table>